* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

input {
    font-family: Popins;
    font-size: 1.8rem;
    color: #C1BCCC;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
}

:root {
    font-family: Poppins;
    font-size: 62.5%;
}

#page-login {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#page-login header {
    width: 64%;
    background: #E14B56;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 18rem;
    padding-left: 22rem;
    padding-bottom: 2rem;
}

#page-login header strong {
    font-size: 7.2rem;
}

#page-login header p {
    font-size: 4.8rem;
    letter-spacing: 0.08em;
    max-width: 60rem;
    line-height: 6.3rem;
}

#page-login main {
    width: 36%;
    background: #F6F0F0;
    padding-top: 17rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

#page-login main legend {
    font-weight: 600;
    font-size: 3.6rem;
    color: #027373;
    margin-bottom: 5.8rem;
}

#page-login main form .container-input {
    position: relative;
    margin-bottom: 3.6rem;
}

#page-login main form .container-input label {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    font-family: Poppins;
    color: #C1BCCC;
    font-size: 18px;
    line-height: 20px;
}

.is-focused {
    top: 0.6rem !important;
    font-size: 1.2rem !important;
}

.is-occupy {
    border: 0.2rem solid #027373 !important;
}

#page-login main form .container-input input {
    background: #FAFAFC;
    height: 7.2rem;
    width: 100%;
    border: 0.1rem solid #E6E6F0;
    border-radius: 0.8rem;
    padding-left: 2rem;
}

#page-login main form .container-input input:focus::after {
    border: 0.2rem solid #027373 !important;
}

#page-login main form .container-input:focus-within::after {
    width: 2px;
    height: calc(100% - 2rem);
    content: '';
    background: #E14B56;
    position: absolute;
    left: 0.1rem;
    bottom: 1rem;
}

#page-login main form .container-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.6rem;
}

#page-login main form .container-options label {
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #9C98A6;
}

#page-login main form .container-options .container-checkbox {
    display: flex;
}

#page-login main form .container-options .container-checkbox label {
    margin-left: 1rem;
}

#page-login main form .container-options .container-checkbox input[type=checkbox] {
    all:unset;
    display: block;
    height: 24px;
    width: 24px;

    background: #FFFFFF;
    border: 2px solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 8px;
}

#page-login main form .container-options .container-checkbox input[type=checkbox]:checked {
    background-image: url('../img/svg/selected.svg');
    background-size: 100%;
    background-repeat: no-repeat;

    border:0;
}

#page-login main form .button-entrar {
    font: 600 2rem Archivo;
    color: #fff;
    background: #E6E6F0;
    border: 0.1rem solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 0.8rem;
    width: 100%;
    height: 5.6rem;
}

#page-login main form .button-entrar:enabled {
    background: #027373;
}

@media screen and (max-height: 900px) {
    :root {
        font-size: 50%;
    }
    #page-login header {
        /* padding-top: 10rem; */
    }
}

@media screen and (max-height: 750px) {
    :root {
        font-size: 45%;
    }
    #page-login header {
        /* padding-top: 7rem; */
    }
}

@media screen and (max-width: 1400px) {
    #page-login header {
        padding-left: 15rem;
    }
}

@media screen and (max-width: 1150px) {
    #page-login header {
        padding-left: 10rem;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        font-size: 50%;
    }
    #page-login header {
        padding-left: 5rem;
    }
}